[Unit]
Description=LED Garland service

[Service]
ExecStart=/usr/bin/python3 "/home/jheka/raspberry-led-garland/garland.py"

[Install]
WantedBy=default.target
