[Unit]
Description=LED Garland service

[Service]
ExecStart=/usr/bin/python3 "/opt/raspberry-led-garland/garland.py"

[Install]
WantedBy=default.target
